server:
  port: 8080
  servlet:
    context-path: /identity
spring:
  application:
    name: identity-service		
  datasource:
    url: jdbc:mysql://localhost:3306/identity_service
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  jpa:
    hibernate:
     ddl-auto: update
    show-sql: true
jwt:
  signerKey: "NsCncH6G1f2CSM/80tNpQQ0BAk7WQVdgBHnnIzzep/XHjVcbwXmvirNvMYT9iMI5\r\n"
  valid-duration: 20 #in second
  refreshable-duration: 120 # in seconds
